ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5000
ConnectionStrings__DefaultConnection=Server=(localdb)\\MSSQLLocalDB;Database=ConxaoBancoPasc;TrustServerCertificate=true
Jwt__Key=PaschoalottoSuperSecretKey2024!@#$%^&*()_+MinLength32Chars
Jwt__Issuer=Paschoalotto.API
Jwt__Audience=Paschoalotto.Client
Jwt__ExpirationInHours=24
CORS__AllowedOrigins=http://localhost:4200
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.AspNetCore=Warning
